.example-card {
  max-width: 240px;
  max-height: 450px;
  padding: 8px;
  margin: 16px;
}

.example-header-image {
/*  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;*/
}

.mat-toolbar.mat-primary{
  z-index: 1000;
}

.examplez{
  z-index: -100;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child{
	color: 'blue';
	width: 100%;
}